<section class="homepage">
  <app-banner src="assets/imagens/banner-homepage.png" alt="Banner da aplicacao jornada"></app-banner>
  <app-container>
    <app-form-busca></app-form-busca>
    <h2> Promocoes </h2>
    <div class="card-wrapper">
      <app-card-busca></app-card-busca>
      <app-card-busca></app-card-busca>
      <app-card-busca></app-card-busca>
      <app-card-busca></app-card-busca>
      <app-card-busca></app-card-busca>
      <app-card-busca></app-card-busca>
    </div>
    <h2> Depoimentos </h2>

  </app-container>
</section>