<section class="modal">
  <h2 mat-dialog-title>Viajante</h2>
  <mat-dialog-content>
    <div class="selecao-idade">
      <ul>
        <li>Adultos</li>
        <li>(Acima de 12 anos)</li>
        <li>
          <button class="decremento" mat-mini-fab>
            <img src="assets/icones/do_not_disturb_on.png" alt="Operador de subtracao" />
          </button>
          <span>1</span>
          <button class="incremento" mat-mini-fab>
            <img src="assets/icones/add_circle.png" alt="Operador de Adicao" />
          </button>
        </li>
      </ul>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
  </mat-dialog-actions>
</section>