.card {
  padding: 24pxx;

  &.primary {
    background-color: #FEF7FF;
    border: 1px solid #CAC4D0;
    border-radius: 16px;
  }

  &.secondary {
    background-color: #F5F5F5;
    border-radius: 16px;
  }
}